sql/roles_and_databases.pgsql
docs/databases and roles.md
load/.env
securities_load.log
docs/my_training.md
load_polygon/.env
test/.env
load_polygon/__pycache__/*.*
asx_load.log
load_asx.log
load_asx.txt
yfinance.cache
examples/.env
load_asx/.env
test/__pycache__/*.pyc
securities/__pycache__/*.pyc
load_asx/__pycache__/*.pyc
securities/__pycache__/*.pyc
securities/.env
securities/__pycache__/postgresql_database_functions.cpython-311.pyc
securities/__pycache__/postgresql_database_functions.cpython-311.pyc
dags/.env
securities/__pycache__/postgresql_database_functions.cpython-311.pyc
add_ohlcv_securities_from_polygon_schema.log
add_ohlcv_securities_from_polygon_schema.log
load_ohlcv_from_yahoo.log
add_ohlcv_securities_from_polygon_schema.log
add_ohlcv_securities_from_polygon_schema.log
add_ohlcv_securities_from_polygon_schema.log
load_ohlcv_from_yahoo.log
load_option_data_from_yahoo.log
polars_practice.log
polars_testing.log
polygon_load_ohlcvs.log
securities/__pycache__/postgresql_database_functions.cpython-311.pyc
test/polars_practice.py
.gitignore
securities/__pycache__/postgresql_database_functions.cpython-311.pyc
.gitignore
load_watchlist_tickers.log
watchlist_tickers_transformed.csv
indices_transformed.csv
load_indices.log
data/indices.txt
